# Compiled class files
#
*.class 
*.dll
# Built application files
*.jar
*.war
*.ear
/bin/
/target/

# Eclipse files
.metadata
.classpath
.project
.settings/
*.launch

# Operating System Files
.DS_Store
Thumbs.db
